<h1>Toggles</h1>

<p>&nbsp;</p>

<table class="toggles-list table striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Toggle</th>
      <th>Active</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @toggles.each do |toggle| %>
      <tr>
        <td><%= toggle.name %></td>
        <td>
          <% if toggle.active %>
            <%= render 'chirrin_chirrion_admin/toggles/link_to_chirrion', toggle: toggle do %>
              <i class="fa fa-toggle-on"></i>
            <% end %>
          <% else %>
            <%= render 'chirrin_chirrion_admin/toggles/link_to_chirrin', toggle: toggle do %>
              <i class="fa fa-toggle-off"></i>
            <% end %>
          <% end %>
        </td>
        <td><%= toggle.description %></td>
        <td>
          <ul class="toggle-actions">
            <% if toggle.active %>
              <li>
                <%= render 'chirrin_chirrion_admin/toggles/link_to_chirrion', toggle: toggle do %>
                  <%= chirrion_button %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= render 'chirrin_chirrion_admin/toggles/link_to_chirrin', toggle: toggle do %>
                  <%= chirrin_button %>
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to(
                remove_toggle_button,
                chirrin_chirrion_admin.toggle_path(toggle.name),
                {
                  method: :delete,
                  id: "remove_#{toggle.name}",
                  data: { confirm: 'Do you really want to remove this toggle?' }
                })
              %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class='toggles-navigation'>
  <%= link_to(chirrin_chirrion_admin.new_toggle_path) do %>
    <button type="button" class="btn btn-success green">New Toggle</button>
  <% end %>
</div>
