<h1>Toggles</h1>
<table class="toggles-list">
  <thead>
    <tr>
      <th>Toggle</th>
      <th>Active</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @toggles.each do |toggle| %>
    <tbody>
      <tr>
        <td><%= toggle.name %></td>
        <td><%= toggle.active %></td>
        <td><%= toggle.description %></td>
        <td>
          <ul class="toggle-actions">
            <% if toggle.active %>
              <li><%= link_to('Chirrion!', chirrin_chirrion_admin.chirrion_toggle_path(toggle.name),
                              { method: :put,
                                id: "chirrion_#{toggle.name}",
                                data: { confirm: 'Do you really want to inactivate this toggle?' } }) %></li>
            <% else %>
              <li><%= link_to('Chirrin!', chirrin_chirrion_admin.chirrin_toggle_path(toggle.name),
                              { method: :put,
                                id: "chirrin_#{toggle.name}",
                                data: { confirm: 'Do you really want to activate this toggle?' } }) %></li>
            <% end %>
            <li><%= link_to('Remove', chirrin_chirrion_admin.toggle_path(toggle.name),
                            { method: :delete,
                              id: "remove_#{toggle.name}",
                              data: { confirm: 'Do you really want to remove this toggle?' } }) %></li>
          </ul>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class='toggles-navigation'>
  <%= link_to('New Toggle', chirrin_chirrion_admin.new_toggle_path) %>
</div>
