<h1>Create Toggle</h1>
<%= form_tag(controller: 'toggles', action: 'create', method: 'post', class: 'toggle-form') do |form| %>
  <p>
    <%= label_tag(:name, 'Name') %>
    <%= text_field_tag(:name) %>
  </p>
  <p>
    <%= check_box_tag(:active) %>
    <%= label_tag(:active, 'Active') %>
  </p>
  <p>
    <%= label_tag(:description, 'Description') %>
    <%= text_area_tag(:description, '', size: '24x6') %>
  </p>
  <p>
    <%= submit_tag('Create') %>
  </p>
<% end %>
