<h1>Create Toggle</h1>
<%= form_tag(controller: 'toggles', action: 'create', method: 'post', class: 'toggle-form') do |form| %>
  <%= label_tag(:name, 'Name') %>
  <%= text_field_tag(:name) %>
  <%= check_box_tag(:active) %>
  <%= label_tag(:active, 'Active') %>
  <%= label_tag(:description, 'Description') %>
  <%= text_field_tag(:description) %>
  <%= submit_tag('Create') %>
<% end %>
