<h1>Create new toggle</h1>

<p>&nbsp;</p>

<section class="form-container">
  <%= form_tag(controller: 'toggles', action: 'create', method: 'post', class: 'toggle-form') do |form| %>
    <div class="row">
      <div class="col s10 col-sm-10 form-group input-field">
        <%= label_tag(:name, 'Name*') %>
        <%= text_field_tag(:name, '', class: 'form-control') %>
      </div>

      <div class="col s2 col-sm-2 form-group checkbox-container">
        <label>
          <%= check_box_tag(:active, (params[:active].present? ? params[:active] : '1'), class: 'form-check-input') %>
          <%= content_tag(:span, 'Active', class: 'form-check-label') %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 col-sm-12">
        <div class="form-group">
          <%= label_tag(:description, 'Description') %>
          <%= text_area_tag(:description, params[:description], size: '24x6', class: 'form-control materialize-textarea') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 col-sm-12">
        <div class="form-group float-right right">
          <%= link_to 'Back', root_path, class: 'btn btn-light grey' %>&nbsp;&nbsp;
          <%= submit_tag('Create', class: 'btn btn-success float-right green') %>
        </div>
      </div>
    </div>
  <% end %>
</section>
