<!DOCTYPE html>
<html>
<head>
  <title>ChirrinChirrionAdmin</title>
  <%= stylesheet_link_tag    "chirrin_chirrion_admin/application", media: "all" %>
  <%= javascript_include_tag "chirrin_chirrion_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>
